// button styles


$button
  display block
  padding .5em 1em
  text-align: center
  font-weight: 600
  font-size: .9em
  color: $color1
  cursor pointer


.buttonNav
  @extend $button
  padding 1.9em 1em
  &:hover
    color $color1_hover
    border-bottom 4px solid $color1_hover

.buttonPrimary
  @extend $button
  background $buttonPrimary
  border-radius 10px
  color $color2
  padding .5em 1.5em
  margin-left 5px
  &:hover
    color $color2_hover
    background $color2
    border 1px solid $color2_hover
