.profile{
	position: relative;
	padding-top: 50px;
	background-color: #f6f6f6;
}

.profile-avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 4px solid white;
	box-sizing: border-box;
	vertical-align: bottom;
}

.profile-avatar-link{
	display: inline-block;
	margin-left: -30px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: #ff8f00;
	background-color: white;
	z-index: 500;
}

.profile-data form{
	margin-top: 40px;
}

.form-group.form-relative{
	position: relative;
	height: 27px;
	padding-left: 40px;
	padding-top: 5px;
}

.form-group>.form-control{
	position: absolute;
	top: 0;
	left: 0;
	padding-left: 40px;
	padding-right: 40px;
	border: 1px solid white;
	border-radius: 0px;
	box-shadow: none;
}

.form-group>.form-control-icon{
	position: absolute;
	top: 5px;
	z-index: 500;
}

.form-group>.form-control-icon:first-child{
	left: 5px;
}

.form-group>.form-control-icon:last-child{
	right: 5px;
}

.profile-achievements-points{
	font-family: Roboto-Light;
	overflow: hidden;
	min-height: 120px;
}

.cup{
	position: relative;
	height: 140px;
}

.cup img {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	z-index: 200;
}

.cup .circle{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 100px;
	background-color: white;
	border-radius: 50%;
	z-index: 100;
}
.profile-achievements-level{
	position: relative;
	margin: 50px 20px;
	height: 60px;
}

[class*=" points-"], [class^="points-"]{
	position: absolute;
	bottom: 0px;
	left: 60%;
	font-size: 10px;
}

.points-first{
	left: 15%;
}
}
.points-center{
	left: 60%;
}

.points-last{
	left: 90%;
}

.profile-achievements-awards{
	margin-top: 30px;
}

.award{
	width: 250px;
	margin: 0 auto;
	background: white;
	color: #cccccc;
	padding: 5px;
}

.award img{
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

.award p{
	display: inline-block;
	width: 100px;
	text-align: left;
}

.award a{
	color: #ff8f00;
}

.award-gift{
	position: relative;
}

.award-gift img{
	position: absolute;
	bottom: 0px;
}

.progress-bar-orange{
	background-color: #ff8f00;
}

.level{
	position: relative;
	padding-top: 250px; 
	min-height: 310px;
	padding-bottom: 10px;
}

.current-points{
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	font-family: Roboto-Light;
	color: #ff8f00;
}

.awards-container .awards{
	margin-top: 80px;
}

.awards-list{
	display: inline-block;
	margin: 0px auto;
}

.awards-list .award{
	float: left;
	margin: 5px 0px;
	height: 120px;
}

.text-orange{
	color: #ff8f00;
}

.text-gray{
	color: #cccccc;
}

.border-orange{
	border-color: #ff8f00;
}

.border-gray{
	border-color: #c6c6c6;
}

