borde(color=red)
  border 1px solid $color

$color1 = #9F9F9F
$color1_hover = #FF8F00

$color2 = #fff
$color2_hover = #FF8F00

$color3 = #FF8F00
$color4 = #19FF50

$colorHoja = #E8BA3B

$font1 = sans-serif

$buttonPrimary = #FF8F00

$colorGame1 = #9C0E79
$colorGame2 = #32339A

$colorGame3 = #BA1A3C
$colorGame4 = #019A8B


body
  height 720px
  background brown
  font-family: sans-serif;

p
  margin 0
a
  text-decoration none

ul
  list-style none
  padding-left 0
  margin 0

a
span
div
  font-family $font1

.fondo-morado
  background url("../images/fondo-morado.jpg") center

.fondo-rojo
  background url("../images/fondo-rojo.jpg") center

.fondo-verde
  background url("../images/fondo-verde.jpg") center

.fondo-azul
  background url("../images/fondo-azul.jpg") center

.fondo-naranja
  background url("../images/fondo_naranja.jpg") center


.tubosEnsayo
  position absolute
  bottom 0
  left 0

.personaje
  position absolute
  bottom -5px
  right 0

#svg
  width 60px
  height 60px
