.character_buena, .character_credito, .character_desafio, .character_espera, .character_inactivo, .character_mala, .character_nueva, .character_premio
	background: url(../images/characters.png) no-repeat;
	@media screen and (max-width: 1200px)
		transform scale(.8)


.character_buena{
	background-position: -49px 0;
	width: 416px;
	height: 483px;
}

.character_credito{
	background-position: -500px 0;
	width: 416px;
	height: 483px;
}

.character_desafio{
	background-position: -900px 0;
	width: 416px;
	height: 483px;
}

.character_espera{
	background-position: -1300px 0;
	width: 416px;
	height: 483px;
}

.character_inactivo{
	background-position: -1650px 0;
	width: 416px;
	height: 483px;
}

.character_mala{
	background-position: -2050px 0;
	width: 416px;
	height: 483px;
}

.character_nueva{
	background-position: -2480px 0;
	width: 416px;
	height: 483px;
}

.character_premio{
	background-position: -2900px 0;
	width: 416px;
	height: 483px;
}

.palabraLarga_label, .multipalabra_label, .adivinaPista_label, .adivinaImange_label
	background: url(../images/labels.png) no-repeat
	@media screen and (max-width: 768px)
		transform scale(.9)


.palabraLarga_label{
	background-position: 0 0;
	width: 374px;
	height: 108px;
}

.multipalabra_label{
	background-position: 0 -120px ;
	width: 374px;
	height: 108px;
}

.adivinaPista_label{
	background-position: 0 -240px ;
	width: 374px;
	height: 108px;
}

.adivinaImange_label{
	background-position: 0 -360px ;
	width: 374px;
	height: 108px;
}
