// respuesta styles
$option
  padding .7em
  margin 0 .5em
  cursor pointer
  color $color2
  background $color3
  border-radius 50%
  &:hover
    color $color3
    background $color2
    border 1px solid $color3

.game-options
  &-eraser
    @extend $option
    background $color2
    color $color1
