// header styles

@import '../../molecules/nav/nav.styl'
@import '../../molecules/login/login.styl'


.header
  padding 0 7em
  width 100%
  height 72px
  display flex
  align-items center
  justify-content space-between
  background $color2
  @media screen and (max-width: 1200px) {
    max-width 100%
    padding 0 .3em
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    padding 0 2em
  }
  &-responsive
    color $color3
    display none
    @media screen and (max-width: 1200px)
      display flex
      &:active
        color $color1

  &-logos
    background $color2
    display flex
    justify-content flex-start
    align-items center
    height 100%

    &-logo
     width 120px
     height auto
     margin-right 5px

    &-line
      width 2px
      height 60%
      background #E2E2E2


    &-marca
      margin-left 5px
      width 120px
      height auto

  &-menu
    background $color2
    height 100%
    display flex
    justify-content flex-end
    align-items center

    &-button
      position relative
      z-index 10
