@font-face {
	font-family: 'GocaLogotypeBeta';
    src: url('../fonts/goca_logotype_beta.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/goca_logotype_beta.woff') format('woff'),
         url('../fonts/goca_logotype_beta.ttf') format('truetype'),
         url('../fonts/goca_logotype_beta.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}