@import url(goca_logotype_beta.css);
@import url(roboto.css);
@import url(font-awesome.min.css);

html, body{
	height: 100%;
	font-family: Roboto;
}

.modal-container {
	position: absolute;
	top: 80px;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-card {
	background: white;
	width: 400px;
	height: 400px;
	border-radius: 8px;
}

.modal-card-title {
	width:100%;
	height: 80px;
	background: #FF8F00;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px 8px 0 0;
}

.modal-card-title-text {
	color: white;
	text-transform: capitalize;
	font-size: 1.5em;
	font-weight: 600;
}

.modal-card-body {
	width: 100%;
	height: 320px;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

}

.modal-card-personajes {
	display: flex;
	justify-content: space-around;

}

.modal-card-retador, .modal-card-retado {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.modal-card-picture {
	width: 80px;
	height: 80px;
	border-radius: 50%
}

.modal-card-name {
	text-transform: capitalize;
	margin: 5px;
	font-weight: 600;
}

.modal-card-iconos {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.modal-cards-icon-top > span {
	color: #FF8F00;
	text-transform: capitalize;
	font-size: 2em;
	font-weight: 900;
	font-family: sans-serif;

}
.modal-card-medalla {
	width: 60px;
	height: auto;
}


.modal-card-button-container, .modal-card-result-container {
	display: flex;
	justify-content: center;
}
.modal-card-result {
	color: #FF8F00;
	font-size: 2em;
	font-weight: 600;
	font-family: sans-serif;
}

.modal-card-button {
	text-align: center;
	padding: .3em 3em;
	background: #FF8F00;
	color: white;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	margin: 20px 0;
	color:white;
	text-decoration: none;

}

.modal-card-button:hover {
	color:white;
	text-decoration: none;
	background: #ff7100;
}



.btn{
	border-radius: 10px;
}

.btn-primary{
	background-color: #ff8f00;
	border-color: #ff8f00;
}

.btn-default{
	background-color: #cccccc;
}

.btn-primary:hover{
	background-color: #ff7100;
	border-color: #ff7100;
}

.btn-lg{
	font-size: 25px;
	margin-top: 30px;
	min-width: 150px;
	padding: 10px 35px;
}

.btn-lg > img{
	margin-left: 5px;
}

.btn-circle{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 20px;
	padding: 4px 0px 0px 0px;
	text-align: center;
}

.summary{
	background-color: #19a496;
	padding: 80px 0px 270px 0px;
	position: relative;
}

.summary-img>img, .summary-description>img{
	width: 300px;
}

.summary p{
	color: white;
	font-size: 15px;
	padding-right: 30px;
}

.room-games{
	display: none;
	height: 200px;
	left: -140px;
	position: absolute;
	top: 180px;
	width: 200px;
    background: #FFFFFF;
    border-radius: 50%;
}

.room-games a{
	-webkit-transform: rotate(90deg);
	color: #ff8f00;
	display: inline-block;
	font-weight: bold;
	margin: 55px 0px 0px 70px;
	font-family: Roboto-Black;
	font-weight: bold;
	min-width: 180px;
	text-transform: uppercase;
	transform: rotate(-90deg);
}

.features{
	background: transparent;
	margin: -190px 0px 30px 0px;
}

.feature-title{
	margin: 35px 0px;
}

.feature-text{
	padding: 0px 5px;
}

/* Vista de amigos*/
.friends{
	position: relative;
	padding: 80px 0px 10px 0px;
	background-color: #f6f6f6;
}

.badge-circle{
	height: 240px;
	width: 240px;
	margin: -265px auto auto auto;
	border-radius: 50%;
	background-color: white;
}

.friends-list{
	margin-top: 50px;
}

.friends-list-title{
	font-size: 22px;
	color: #ff8f00;
	font-family: Roboto-Black;
	margin: 0px 0px 25px 80px;
}

.friends-list ul{
	padding: 0px;
	margin: 0px;
}

.friends-list ul li{
	list-style: none;
	margin-bottom: 18px;
	padding-bottom: 10px;
	border-bottom: 2px solid #cccccc;
}

.friends-list-position{
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 20px;
	padding-top: 6px;
	color: white;
	text-align: center;
}

.friends-list-avatar{
	width: 80px;
	height: 80px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 4px solid white;
	margin: 0px 10px 0px 30px;
}

.friends-list-name{
	display: inline-block;
	font-size: 12px;
	width: 80px;
}

.friends-list-points{
	display: block;
	margin: 0px 25px 0px 30px;
	color: #ff8f00;
	text-align: right;
}

.friends-list-points i{
	font-size: 20px;
}

.friends-list-button{
	display: block;
	margin-left: auto;
	margin-right: 5px;
	font-size: 11px;
	padding: 2px 0px;
	width: 90px;
}

.friends-list-more{
	margin-top: 20px;
}

.title{
	font-size: 20px;
	color: #ff8f00;
	font-family: Roboto-Black;
}

.bg-orange{
	background-color: #ff8f00;
}

.bg-green{
	background-color: #05c000;
}

.bg-gray{
	background-color: #cccccc;
}



@media (min-width: 750px){
	.summary-img>img, .summary-description>img{
		width: 380px;
	}
	.room-games{
		display: block;
	}
	.friends-list{
		margin-top: 0px;
	}
	.friends-list ul li{
		border: 0px;
	}
	.friends-list-title{
		margin-top: -50px;
	}
	.friends-list-name{
		width: 130px;
	}
	.friends-list-points{
		display: inline;
		width: 70px;
		padding-right: 5px;
		text-align: left;
	}
	.friends-list-button{
		display: inline-block;
		margin-left: 30px;
		margin-right: auto;
	}
}


body {
  height: 720px;
  background: #a52a2a;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
	color: inherit;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a,
span,
div {
  font-family: sans-serif;
}
.fondo-morado {
  background: url("../images/fondo-morado.jpg") center;
}
.fondo-rojo {
  background: url("../images/fondo-rojo.jpg") center;
}
.fondo-verde {
  background: url("../images/fondo-verde.jpg") center;
}
.fondo-azul {
  background: url("../images/fondo-azul.jpg") center;
}
.fondo-naranja {
  background: url("../images/fondo_naranja.jpg") center;
}
.tubosEnsayo {
  position: absolute;
  bottom: 0;
  left: 0;
}
.personaje {
  position: absolute;
  bottom: -5px;
  right: 0;
}
#svg {
  width: 60px;
  height: 60px;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?lkg0f8");
  src: url("../fonts/icomoon.eot?lkg0f8#iefix") format('embedded-opentype'), url("../fonts/icomoon.ttf?lkg0f8") format('truetype'), url("../fonts/icomoon.woff?lkg0f8") format('woff'), url("../fonts/icomoon.svg?lkg0f8#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
i {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-eraser:before {
  content: "\e900";
  font-size: 2em;
}
.icon-coin:before {
  content: "\e901";
  font-size: 2em;
}
.icon-search:before {
  content: "\e902";
}
.icon-lock:before {
  content: "\e903";
}
.icon-menu:before {
  content: "\e904";
  font-size: 2em;
}
.icon-check:before {
  content: "\e905";
  font-size: 2em;
}
.icon-play:before {
  content: "\e90c";
}
.icon-reload:before {
  content: "\e907";
  font-size: 2em;
}
.icon-arrow:before {
  content: "\e906";
  font-size: 2em;
}
.icon-star:before {
  content: "\e909";
  font-size: 2.3em;
}
.icon-phone:before {
  content: "\e90a";
}
.buttonNav,
.buttonPrimary {
  display: block;
  padding: 0.5em 1em;
  text-align: center;
  font-weight: 600;
  font-size: 0.9em;
  color: #9f9f9f;
  cursor: pointer;
}
.buttonNav {
  padding: 1.9em 1em;
}
.buttonNav:hover {
  color: #ff8f00;
  border-bottom: 4px solid #ff8f00;
}
.buttonPrimary {
  background: #ff8f00;
  border-radius: 10px;
  color: #fff;
  padding: 0.5em 1.5em;
  margin-left: 5px;
}
.buttonPrimary:hover {
  color: #ff8f00;
  background: #fff;
  border: 1px solid #ff8f00;
}
@media screen and (min-width: 1200px) {
  .header-menu-nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}
@media screen and (max-width: 1200px) {
  .header-menu-nav-items {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 200;
    top: 78px;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 2px solid #ff8f00;
  }
  .header-menu-nav-items li {
    width: 100%;
  }
}
.header-menu-nav-items-how {
  background: #fff;
  z-index: 300;
  position: absolute;
  width: 28%;
  top: 80px;
  border-radius: 8px;
  display: none;
}
.header-menu-nav-items-how a:hover {
  background: #ff8f00;
  color: #fff;
	text-decoration: none;
}
.header-menu-nav-items-how li:last-child {
  margin-bottom: 10px;
}
.header-menu-nav-items-how:before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  font-size: 0px;
  line-height: 0px;
  position: relative;
  top: -17px;
  left: 40%;
}
@media screen and (max-width: 1200px) {
  .header-menu-nav-items-how {
    position: relative;
    top: -10px;
    width: 100%;
  }
  .header-menu-nav-items-how:before {
    content: "";
    border: none;
  }
}
.game-how {
  position: relative;
}
.show {
  display: flex;
}
.form-container {
  position: absolute;
  z-index: 100;
  top: 80px;
  right: 5px;
  width: 300px;
  height: 320px;
  background: #fff;
  border-radius: 8px;
  padding: 4px;
  display: none;
}
.form-login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.form-login input {
  background: #fff;
  border: none;
  width: 80%;
  border-bottom: 1px solid #ff8f00;
  text-align: center;
  letter-spacing: 1px;
}
.form-login i {
  color: #ff8f00;
}
.form-login a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.8em;
  font-weight: 600;
  color: #000;
}
.form-login a:hover {
  color: #ff8f00;
}
.form-login-button {
  cursor: pointer;
}
.form-login:before {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 9px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  font-size: 0px;
  line-height: 0px;
  position: relative;
  top: -17px;
}
.header {
  padding: 0 7em;
  width: 100%;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
}
@media screen and (max-width: 1200px) {
  .header {
    max-width: 100%;
    padding: 0 0.3em;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .header {
    padding: 0 2em;
  }
}
.header-responsive {
  color: #ff8f00;
  display: none;
}
@media screen and (max-width: 1200px) {
  .header-responsive {
    display: flex;
  }
  .header-responsive:active {
    color: #9f9f9f;
  }
}
.header-logos {
  background: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.header-logos-logo {
  width: 120px;
  height: auto;
  margin-right: 5px;
}
.header-logos-line {
  width: 2px;
  height: 60%;
  background: #e2e2e2;
}
.header-logos-marca {
  margin-left: 5px;
  width: 120px;
  height: auto;
}
.header-menu {
  background: #fff;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-menu-button {
  position: relative;
  z-index: 10;
}
