extends ../_layouts/base

include ../_modules/molecules/multipalabra/multipalabra.jade
include ../_modules/molecules/score/score.jade
include ../_modules/molecules/options/options.jade

block config
  //- Correct base url pathing for this page
  - var baseUrl = '../'

block content
  main(class="juego fondo-azul")
    img(src="../images/tubosEnsayo.png", alt="tubos de ensayo" class="tubosEnsayo")
    div(class="character_credito personaje")
    
    div(class="game-container")
      +score(class="game-score")
      +multipalabra(class="game-card")
      +options(class="game-options")
        
