include ../../atoms/pista/pista.jade
include ../../atoms/respuesta/respuesta.jade

mixin palabralarga(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div(class=spec.__class)&attributes(attributes)
    div(class="game-card-title titleJuego1")
      div(class="palabraLarga_label")
    div(class="game-card-body")
      +pista()
    
      div(class="game-card-body-pregunta")
        span(class="game-card-body-pregunta-palabra") palabra muy muy larga
  
      
      +respuesta()
