extends _layouts/base

// include organisms
include ./_modules/atoms/sala/sala.jade
include ./_modules/molecules/card/card.jade

block content
  main(class="juego fondo-naranja")
    +sala(href="#" class="juego-sala") 
      
    div(class="game-container")
      img(class="game-person" src="images/character_prejuego.png")
      +card(class="game-card")

  
